@use "variables";
@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hello {
  // font-size: 3rem;
  @include mixins.text-lg;
  color: var(--primary-color);
}

// .hero {
//   background-color: var(--secondary-color);
//   &-text {
//     color: var(--primary-color);
//   }
// }
